* {
  box-sizing: border-box;
}

body {
  font-family:  "MuliFont", sans-serif;
  background: #24408e10;
  margin: 0;
  padding: 1rem;
}

header{
  text-align: center;
  margin-bottom: 2em;
}

h1 {
  font-size: 2.3rem;
  color: #333;
  margin: 0.5rem 0;
}

h2 {
  display:flex; /*using this to show the butterfly icon for host orgs*/
  margin-top: 1.5rem;
  font-size: 1.5rem;
}

.host-icon{
  width: 50px;
  height: 50px;
  margin-left: 1rem;
  vertical-align: middle;
}

p
{font-weight:400;}

p.location{
  font-weight: 200;
  font-style: normal;
  padding-bottom: 2em;
}

.card-container {
  display: grid; /*use to show all the cards one after the other in a one column format*/
  grid-template-columns: 100%;
  gap: 1rem;
  flex: 1;
  padding: 20px;
  transition: margin-left 0.3s ease;
}

.card {
  background: #fff;
  padding: 1rem;
}

.card-col{
  display:grid; /*if normal desktop - then 2 columns there is a media query to change this to one column below for mobile*/
  grid-template-columns: 1fr 2fr;
  gap: 2rem;
}

.card p {
  margin: 0.5rem 0;
  font-size: 0.9rem;
}

.collapse-btn {
  margin-top: 0.5rem;
  background: #BF5412;
  color: white;
  border: none;
  padding: 0.4rem 0.6rem;
  border-radius: 4px;
  cursor: pointer;
}

.collapse-content {
  margin-top: 0.5rem;
  padding: 0.5rem;
  border-left: 2px solid #0077cc;
  background: #f0f8ff;
  display: none;
}

.hidden{
  display: none;
}

button{
  background-color: 24408e;
  color: rgb(46, 46, 46);
  border:none;
  padding: .4rem 1rem;
  font-weight:600;
  display:inline
  
}
button:hover {
  background-color: #BF5412;
  color:white
}
#sidebar {
    position: fixed;
    left: -300px;         /* hidden off-screen */
    width: 300px;
    height: 100%;
    padding: 20px;
    transition: left 0.3s ease;
    z-index: 1000;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    text-align: left;
  }

#sidebar.active {
    left: 0;              /* slide in */
  }
#sidebar__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
  }

#mainpage{
  transition: all 0.3s ease;
}

@font-face {
font-family: 'MuliFont';
src: url('Muli/muli.ttf') format('truetype');
}

/* === MOBILE (overlay mode) === */
@media (max-width: 768px) {
  #mainpage {
    display: block; /* sidebar not part of layout */
  }
  .card-col {
    grid-template-columns: 1fr;
    gap: 0;
  }
  
  #backdrop.active {
    display: block;
  }

}
